body {
	background: #fff;
	margin: 0;
	padding: 0;
}
p {
	padding: 0;
	margin: 0;
}
a {
	color: #CEAC4A;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.hide {
	display: none;
}
.plain-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
nav,
.nav {
	width: 100%;
	background: #A47724;
	padding: 10px 0;
	margin: 0 0 5px 0;
}
nav .nav-list,
.nav .nav-list {
	list-style: none;
	display: block;
	width: 960px;
	margin: 0 auto;
}
nav .nav-list li,
.nav .nav-list li {
	float: left;
	padding: 0 10px;
}
nav .nav-list li a,
.nav .nav-list li a {
	color: #fff;
}
.main .section {
	background: #fff;
	float: left;
	width: 65%;
}
.feature {
	background: #fff;
	border: solid 1px #7A5113;
	overflow: hidden;
}
.feature h2 {
	width: 100%;
	background: #7A5113;
	color: #E0D289;
	margin: 0;
	padding: 10px 0 10px 10px;
}
.feature p {
	margin: 10px;
}
.cheese-time-line ul li{
	margin: 10px 0;
	padding: 5px;
	border: solid 1px #E0D289;
	box-sizing: border-box;
}
.cheeseHover {
	position: relative;
	z-index: 999;
}
.cheese-image img {
	width: 100%;
	height: 100%;
}
.cheese-name {
	font-weight: bold;
	color:#7A5113;
}
.sidebar {
	width: 318px;
	box-sizing: border-box;
	border: solid 1px #DABF68;
	padding-bottom: 5px;
	margin: 0 auto;
}
.sidebar .header {
	padding: 15px 0 10px 10px;
	margin: 0 9px;
}
.sidebar .header h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	text-transform: none;
	margin: 0;
	padding: 0;
}
.content {
	padding: 0 20px;
}
.more {
	font-size: 13px;
	margin-top: -5px;
	text-align: right;
}
.suggestedCheese {
	overflow: hidden;
}
.suggestedCheese > li {
	padding-left: 55px;
	margin: 1px 0;
	min-height: 50px;
	height: auto;
	_height: 50px;
	position: relative;
	overflow: visible;
}
.selectedCheese > .cheese-image {
	position: absolute;
	left: 0;
	top: 5px;
}
.selectedCheese > .cheese-image img {
	height: 40px;
	width: 40px;
}
.selectedCheese > .cheese-info {
	padding-right: 30px;
	max-height: 34px;
	height: auto;
	_height: 34px;
	line-height: 17px;
	font-size: 13px;
	width: 230px;
}
.add-cheese {
	font-size: 13px;
}
.actions {
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
}
.removecheese {
	border: none;
	width: 2%;
	cursor: pointer;
	float: left;
	display: inline-block;
	background: url(images/sprite_global_v8.png) no-repeat 100% -1496px;
	text-indent: -9999px;
}
.cheeseHover {
	display: none;
	position: absolute;
	width: 100%;
}
.cheeseInner {
	background: #fff;
	z-index: 999;
	overflow: visible;
	font-size: 13px;
	border: solid 1px #DABF68;
	padding: 5px;
	position: absolute;
}
.arrow {
	width: 0; 
	height: 0;
	font-size: 0;
	line-height: 0;
	position: absolute; 
}
.top {
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #DABF68;
	top: -20px;
	left: 183px;
}
.cheeseInner .cheese-info {
	padding: 5px;
	width: 230px;
	float: left;
}
.cheeseInner .cheese-image {
	height: 100px;
	width: 100px;
	float: left;
}