body {
	background: #fff;
	margin: 0;
	padding: 0;
}
p {
	padding: 0;
	margin: 0;
}
a {
	color: #CEAC4A;
	text-decoration: none;
}
.plain-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}

.clearfix:after {
    clear: both;
}
.main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
nav,
.nav {
	width: 100%;
	background: #A47724;
	padding: 10px 0;
	margin: 0 0 5px 0;
}
nav .nav-list,
.nav .nav-list {
	list-style: none;
	display: block;
	width: 960px;
	margin: 0 auto;
}
nav .nav-list li,
.nav .nav-list li {
	float: left;
	padding: 0 10px;
}
nav .nav-list li a,
.nav .nav-list li a {
	color: #fff;
}
.main .section {
	background: #fff;
	float: left;
	width: 65%;
}
.feature {
	background: #fff;
	border: solid 1px #7A5113;
	overflow: hidden;
}
.feature h2 {
	width: 100%;
	background: #7A5113;
	color: #E0D289;
	margin: 0;
	padding: 10px 0 10px 10px;
}
.feature p {
	margin: 10px;
}
.cheese-time-line ul li{
	margin: 10px 0;
	padding: 5px;
	border: solid 1px #E0D289;
	box-sizing: border-box;
}
.cheeseHover {
	position: absolute;
	z-index: 999;
}
.cheese-profile li,
.cheeseHover ul li {
	float: left;
}
.cheese-image img {
	width: 100%;
	height: 100%;
}
.cheese-name {
	font-weight: bold;
	color:#7A5113;
}
.cheese-actions {
	width: 14px;
}
.cheese-actions a {
	display: block;
	line-height: 35px;
}
.sidebar {
	width: 32%;
	box-sizing: border-box;
	border: solid 1px #DABF68;
	padding: 15px 8px 0;
	float: right;
}
.suggestedCheese {
	/*height: 175px;*/
	overflow: hidden;
}
.suggestedCheese > li {
	padding-bottom: 15px;
	max-height: 307px;
	overflow: hidden;
}
.sidebar .cheese-image {
	display: block;
	width: 40px;
	height: 40px;
}
.sidebar .cheese-info {
	width: 243px;
	font-size: 13px;
	padding: 0 5px ;
}
.cheeseHover {
	display: none;
	position: absolute;
	background: #fff;
	z-index: 999;
	border: solid 1px #DABF68;
	padding: 5px;
}
.arrow-right {
	width: 0; 
	height: 0; 
	border-bottom: 10px solid transparent;  /* left arrow slant */
	border-top: 10px solid transparent; /* right arrow slant */
	border-left: 10px solid #DABF68; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 25px;
	right: -10px;
}
.cheeseHover .cheese-info {
	padding: 5px;
}
.cheeseHover .cheese-image {
	height: 100px;
	width: 100px;
}